<!--the section containing my descrioption-->
    <a name="about"></a>
    <div class="jumbotron">
        <div class="container">

            <div class="row">
                <div class="col-md-4">
                    <img id="mypic" src="images\formalpic.jpg">
                </div>
                <div class="col-md-8">
                    <h2>About Me</h2>
                    <p>I am currently pursuing my masters in Information technology at Utah State University, Logan, UT.</p>

                    <p>I see myself as an ambitious person with a willingness to succeed, my strength lies in planning my tasks and executing the plan diligently. My academic/professional record shows a consistent advancements and flexibility in adoption to different roles and responsibilities. </p>
                    <p>My passion lies in web designing that provides the power for an organization have effective and organized website. My academic projects in HTML, CSS, JavaScript, AngularJS, JQuery, PHP, Python, ASP.net and C#, made me improve on several aspects of designing and developing websites. </p>
                </div>
                
            </div>
        </div>
    </div>