
    <!--ContactMe Section-->
    <a name="contactMe"></a>
    <div class="contactMe">
        <div class="container">
            <div class="row"><div class="col-md-4 col-md-offset-4 headingtwo"><h2>Contact Me</h2></div></div>
            <hr>
            <div class="row contact-image" >
                <div class="col-md-3">
                    <a href="https://www.facebook.com/svyas9" target="_blank"><img src="images/facebook-button.png"></a>
                    <h4>Facebook</h4>
                </div>
                <div class="col-md-3">
                    <a href="https://www.linkedin.com/in/shubham-vyas-85975578?trk=nav_responsive_tab_profile" target="_blank"><img src="images/linkedinnavlogo.png"/></a>
                    <h4>LinkedIn</h4>
                </div>                
                <div class="col-md-3">
                    <a href="https://github.com/shubham17vyas" target="_blank"><img src="images/github-logo.svg"></a>
                    <h4>GitHub</h4>
                </div>
                <div class="col-md-3">
                    <a href="http://stackoverflow.com/users/6421654/shubham-vyas" target="_blank"><img src="images/stackoverflowLogo.png"></a>
                    <h4>StackOverflow</h4>
                </div>
            </div>
    
            
            <!--<div class="sendMessage">
                <div class="row"><div class="col-md-3 col-md-offset-4"><h2>Send a Message</h2></div></div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                    
                    
                    <form action="mailto:jshubham.vyas@gmail.com" method="post" enctype="text/plain">
                      <div class="form-group">
                        <label for="firstName">First Name</label>
            <input type="text" class="form-control" id="firstName" placeholder="Shubham">
                        <label for="lastName">Last Name</label>
            <input type="text" class="form-control" id="lastName" placeholder="Vyas">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="shubham.vyas@gmail.com">
                        <label for="Subject">Subject</label>
                        <input type="text" class="form-control" id="subject" placeholder="Job Post:: Website Design">
                        <label for="Message">Short Message</label>
                        <input type="text" class="form-control" id="message" placeholder="Have a job for you.">
                      </div>
                      <div class="form-group send">
                        
                        <input type="submit" name="submit" value="Submit">
                      </div>
                    </form>
                  </div>
                </div>
                <hr>-->
            <!-- </div> -->
        </div>
    </div>