<!--the section containing work description-->
    <a name="projects"></a>
    <div class="projects">
        
        <div class="container">
            <div class="row heading">
                <div class="col-md-4 col-md-offset-4"><h1 class="pro-border-bottom">Projects</h1></div>
            </div>
<!--Image gallery-->            
            
        
            <div class="row image-gallery">
                <div class="col-sm-4">
                    <a href="pages\projects\tableau.html" target="_blank">
                        <img class="pro" src="images\projects\tertrendz.jpg"/>
                        <h5><span class="fancy">Tableau</span></h5>
                    </a>
                </div>
                <div class="col-sm-4">
                    <a href="pages\projects\asp.html" target="_blank">
                        <img class="pro" src="images\projects\aspYayCoffee.png"/>
                        <h5><span class="fancy">ASP.net| C#</span></h5>
                    </a>
                </div>
                <div class="col-sm-4">
                    <a href="pages\projects\pygame.html" target="_blank">
                        <img class="pro" src="images\projects\tertrendz.jpg"/>
                        <h5><span class="fancy">Python| Pygame</span></h5>
                    </a>
                </div>
            </div>
            <div class="row image-gallery">
                <div class="col-sm-4">
                    <a href="" target="_blank">
                        <img class="pro" src="images\projects\tertrendz.jpg"/>
                    </a>
                </div>
                <div class="col-sm-4">
                    <a href="" target="_blank">
                        <img class="pro" src="images\projects\tertrendz.jpg"/>
                    </a>
                </div>
                <div class="col-sm-4">
                    <a href="" target="_blank">
                        <img class="pro" src="images\projects\tertrendz.jpg"/>
                    </a>
                </div>
            </div>
            
        </div>
    </div>