<!--quotes section-->
    <div class="quotes">
        <div class="container">
            <!--slider-->
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                    <li data-target="#myCarousel" data-slide-to="3"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <blockquote>
                            <p><img src="images/doublequotespurple.png">&nbsp;&nbsp;&nbsp;I can't change the direction of the wind, but I can adjust my sails to always reach my destination.</p>
                            <footer>Jimmy Dean <cite title="Source Title">Source Title: Google</cite></footer>
                        </blockquote>
                    </div>

                    <div class="item">
                        <blockquote>
                            <p><img src="images/doublequotespurple.png">&nbsp;Creativity is contagious, pass it on. </p>
                            <footer>Albert Einstein <cite title="Source Title">Source Title: Google</cite></footer>
                        </blockquote>
                    </div>
                

                    <div class="item">
                        <blockquote>
                            <p><img src="images/doublequotespurple.png">&nbsp;&nbsp;&nbsp;A dream doesn’t become reality through magic; it takes sweat, determination and hard work.</p>
                            <footer>Collin Powel  <cite title="Source Title">Source Title: Google</cite></footer>
                        </blockquote>
                    </div>

                    <div class="item">
                        <blockquote>
                            <p><img src="images/doublequotespurple.png">&nbsp;&nbsp;&nbsp;Hardwork doesn't guarantee success, but improves its chances.</p>
                            <footer>B. J Gupta  <cite title="Source Title">Source Title: Google</cite></footer>
                        </blockquote>
                    </div>

                    

                </div>    

                <!-- Left and right controls -->
                <!--<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>--> 
            </div>
        </div>
    </div>